<template>
  <div>
    <q-btn type="button" @click="addMaterial">Добавить материал</q-btn>
    <BaseItem
      :item="item"
      :index="index"
      v-for="(item, index) in materials"
      :key="item.uuid"
      @deleteMaterial="deleteMaterial"/>
  </div>
</template>
<script>
import BaseItem from './BaseItem';
import {mapGetters, mapMutations} from 'vuex'


export default {
  components: {
    BaseItem
  },
  data() {
    return {
      materials: []
    }
  },
  methods: {
    addMaterial() {


      const uuid = Math.floor(Math.random() * 100)
      const material = {
        uuid,
        title: `Материал №${uuid}`,
        description: `Новый материал №${uuid}`,
        submaterial: []
      }
      this.materials.push(material)
    },
    deleteMaterial(index) {
      this.materials.splice(index, 1)
    }
  },
  computed: {
    ...mapGetters({
      baseStore: 'knowledgeBase/getBase',
      baseRoot: 'knowledgeBase/getRoot'
    })
  },
}
</script>
