<template>
  <div>
    <h3>{{ item.title }}</h3>
    <div>
      <p>{{ item.description }}</p>
      <ul v-if="item.submaterial && item.submaterial.length > 0">
        <BaseItem
          v-for="(child, subIndex) in item.submaterial"
          v-bind:item="child"
          :index="subIndex"
          :key="child.uuid"
          :parentItem="item"
          @deleteSubMaterial="deleteSubMaterial"
        />
      </ul>
    </div>
    <q-btn v-if="parentItem" @click="deleteSubMaterial">Удалить дочерний материал</q-btn>
    <q-btn v-if="!parentItem" @click="deleteMaterial">Удалить материал</q-btn>
    <q-btn type="button" @click="addSubMaterial">Добавить дочерний материал</q-btn>
  </div>
</template>
<script>
export default {
  name: "BaseItem",
  props: {
    item: {
      type: Object,
      required: true
    },
    index: {
      type: Number,
      required: true
    },
    parentItem: {
      required: false
    }
  },
  methods: {
    deleteSubMaterial() {
      this.parentItem.submaterial.splice(this.index, 1)
    },
    deleteMaterial() {
      this.$emit('deleteMaterial', this.index)
    },
    addSubMaterial() {
      const uuid = Math.floor(Math.random() * 100)
      const material = {
        uuid,
        title: `Материал №${uuid}`,
        description: `Новый материал №${uuid}`,
        submaterial: []
      }
      this.item.submaterial.push(material)
    }
  }
}
</script>
