<template>
  <q-page class="flex flex-left">
<!--    <ul>-->
<!--      <li ref="0" id="0">+</li>-->
<!--      &lt;!&ndash;    <li v-for="el in baseStore" :key="el.uuid" :ref=el.uuid>&ndash;&gt;-->
<!--      &lt;!&ndash;      {{el.title}}&ndash;&gt;-->
<!--      &lt;!&ndash;    </li>&ndash;&gt;-->
<!--    </ul>-->
    <BaseList></BaseList>
  </q-page>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex'
import BaseList from "components/BaseList";

export default {
  name: 'PageIndex',
  components: {
    BaseList
  },
  data() {
    return {
      // currentTab: 0
      rootMaterials:[]
    }
  },
  mounted() {
    //   for (baseElement of this.baseStore){
    // console.log(baseElement.title);}
    // for (let el of this.baseStore) {
    //   // console.log(el.uuid)
    //   // console.log(this.$refs)
    //   // console.log(this.$refs.['0'])
    //   if (this.$refs[el.parentUuid] !== undefined) {
    //     // console.log('find', el.parentUuid)
    //     this.$refs[el.parentUuid].insertAdjacentHTML('beforeend', `<li id="${el.uuid}" ref="${el.uuid}">${el.uuid}</li>`)
    //   }
    //   // else console.log('not find', el.parentUuid)
    //
    // }

    console.log(this.baseRoot);


  },
  computed: {
    ...mapGetters({
      baseStore: 'knowledgeBase/getBase',
      baseRoot: 'knowledgeBase/getRoot'
    })
  },
}
</script>
